.temp-logo{
  width: 356px;
  height: 100px;
  background-color: #d9d9d9;
  color: #b8b8b8;
  margin-top: 65px;
  margin-bottom: 65px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 100px;
}