/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap');
*{
  font-family: 'Poppins', sans-serif; 
  color: #78909c;
} */

/* .form-control:focus {
  border-color: #5034A1;
  box-shadow: 0 0 0 0.2rem #4f34a15f;
}
.form-select:focus {
  border-color: #5034A1;
  box-shadow: 0 0 0 0.2rem #4f34a15f;
} 
.inputStyle {
  width: 2.5rem !important;
  height: 3rem;
  margin: 0 0.3rem;
  font-size: 2rem;
  border: 1px solid rgba(101, 101, 101, 0.3);
  
}
.inputStyle:focus{
  outline-width: 0;
  border-color: #5034A1;
  box-shadow: 0 0 0 0.2rem #4f34a157;
}

.check-style input[type=radio]:checked + label{
  color: white !important;
  background-color: #5034A1 !important;
  border-color: #5034A1 !important;
  border-width: 2px;
  box-shadow: none;
  padding-left: 10.5px;
  padding-right: 10.5px;
}
.check-style input[type=radio] + label{
  color: rgb(120,144,156) !important;
  background-color: #efefef !important;
  border-color: #efefef !important ;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
}
.check-style input[type=radio]:checked + label::before{
  font-family: "Material Icons";
  content: "\e5ca";
  padding-right:3px;
  color: #000;
}
.search-bar{
  position: relative;
}
.search-bar::before{
  position: absolute;
  font-family: "Material Icons";
  top: 7px;
  right: 5px;
  content: "\e8b6";
}
.chat-icon{
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
}
.aud-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

  text-transform: uppercase;
  margin: 30px 3px;
}
.aud-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);;
  column-gap: 20px;
  row-gap: 20px;
}
li.borderless { border-width: 0px !important ;}

.placeholder-style::placeholder{
  color:#78909C;
}
.button-style{
  background-color: #fff;
  padding: 5px 25px;
  border: 2.5px solid #d9d9d9;
  border-radius: 20px;
  transition-duration: 200ms;
}
.button-style:hover{
  background-color: #d9d9d9;
  color: gray;
}
select:focus{
  border-color: #5034A1 !important;
  box-shadow: 0 0 0 0.2rem #4f34a15f !important;
}
.switch-styling:focus{
  border-color: #5034A1 !important;
  box-shadow: 0 0 0 0.2rem #4f34a15f !important;
}
.switch-styling:checked{
  background-color: #5034A1;
  border-color: #5034A1 !important;
}
.search-style{
  padding-left: 10px;
  border: 2.5px solid #d9d9d9;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 25px;
}
.search-style:focus{
  outline: none;
}
.search-icon{
  border: 2.5px solid #d9d9d9;
  border-left: none;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 25px;
}
.left-side-msg{
  background-color: white;
  font-size: 13px;
  max-width: 45%;
  padding: 10px;
  margin: 10px;
}
.left-side-msg p:first-of-type{
  font-size: 9px;
}
.right-side-msg{
  align-self: flex-end;
  background-color: #5034A1;
  font-size: 13px;
  max-width: 45%;
  padding: 10px;
  margin: 10px;
}
.right-side-msg p:first-of-type{
  font-size: 9px;
}
@media (max-width: 600px){
  .aud-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    column-gap: 10px;
    row-gap: 10px;
  }
  .check-style input[type=radio] + label{
    font-size: 10px !important;
  }
  .img-mobile {
    height: 60px !important; 
  }
  .text-mobile{
    font-size: 12px;
  }
  .menu-mobile{
    padding : 0 0 0 5px !important;
    margin : 0 !important;
  }
  .button-style{
    font-size: 12px !important;
    padding: 5px 15px !important;
  }
  .sidebar-mobile{
    position: fixed;
  }
  .button-mobile{
    padding: 0 7px !important;
  }
  .search-mobile{
    width: 100px !important;
  }
  .left-side-msg{
    max-width: 60%;
  }
  .right-side-msg{
    max-width: 60%;
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
} */
